.cont {
    --align: center;
    // --background: url("~/assets/img/fond-connexion.png") ;
    align-content: center;
    --ion-background-color: linear-gradient(rgb(67, 110, 228), rgb(222, 229, 231), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    

}