
<ion-header >

  <ion-item lines="none">
   <ion-avatar slot="start">
    <ion-menu-button color="primary" menu="main-menu" >
      <!-- <ion-img class="logo" src="https://thumbs.dreamstime.com/b/hamburger-menu-bar-icon-starburst-shiny-blue-round-button-isolated-white-background-reflecting-shadow-illustration-design-167077248.jpg"></ion-img> -->
    </ion-menu-button>
   
   </ion-avatar>
   <ion-avatar slot="end">
    <ion-img class="logo" src="https://pbs.twimg.com/profile_images/1248893887915139073/Op8Yc7ai_400x400.jpg"></ion-img>
   </ion-avatar>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-item lines="none">
        <ion-label class="salut">Bienvenue Annie</ion-label>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item lines="none">
         
        <ion-label slot="start" class="cours">Les cours</ion-label>
          <ion-card class="menu" slot="end">
        <ion-icon  size="large" name="options"></ion-icon>
      </ion-card>
      </ion-item>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content class="cont" >
 
  
   

  
  
  <!-- <ion-grid>
    <ion-row   class="modules">
     
     
    
     <br>
      <ion-col size-md="6"  *ngFor="let matiere of matieres">
        <ion-card>
          <ion-item>
          
            <ion-card-content>
              <ion-button (click)="getProfs(matiere.libelle)"> 
              
                <ion-label>
                  <ion-icon name="person"></ion-icon>
                  {{matiere.libelle}}
                </ion-label>
              </ion-button> 
              
            </ion-card-content>
           



          </ion-item>
        </ion-card>


      </ion-col>

    </ion-row>
  </ion-grid> -->
  <ion-grid>
  <ion-list *ngFor="let matiere of matieres">
    
    <ion-card class="card" (click)="getProfs(matiere.libelle)">
      <ion-row>
      <ion-col size="2" >
        <!-- <ion-card >
          <ion-col class="card-img" >
         <ion-img class="img-card" src="https://images-na.ssl-images-amazon.com/images/I/71ohor3FSkL._AC_SX450_.jpg"></ion-img>
        </ion-col>
        </ion-card>  -->
      </ion-col>
      <ion-col class="matiere" size="6">
        <ion-label >{{matiere.libelle}}</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-card class="card-lesson">
            <ion-row>
              <ion-col>
              <ion-label class="nbre">15</ion-label>
            </ion-col>
            </ion-row>
            <ion-row>
               <ion-col> 
              <ion-label class="profs">Profs</ion-label>
             </ion-col> 
            </ion-row>
        </ion-card>  

        
      </ion-col>
    </ion-row>
    </ion-card>
  </ion-list>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title> <ion-icon name="call" ></ion-icon>Contact: 77654365</ion-title>
  </ion-toolbar>
</ion-footer>